import React, { useEffect } from 'react';
import { MyContext } from './context';
import useSetState from './useSetState';
import type { StateProps } from './types';
import Counter from './components/Counter';

<% if (needStyle) { %>
import './index.less';
<% } %>

function <%= pageName %>() {
  const [state, setState] = useSetState<StateProps>({
    counter: 0,
  });
  useEffect(() => {
  }, []);
  return (
    <MyContext.Provider value={{ state, setState }} >
      <div className="page">
        <Counter />
      </div>
    </MyContext.Provider>
  );
}

export default <%= pageName %>;
